In [3]:
x = 10
if x > 10:
    print("Lebih besar!")
elif x < 10:
    print("Lebih kecil!")
else:
    print("Sama anjay!")

Sama anjay!

In [7]:
def compare_bae(y):
    if y > 10:
        return "Lebih Besar"
    elif y < 10:
        return "Lebih kecil"
    else:
        return "Sama anjay"

In [8]:
print(compare_bae(5))

Lebih kecil

In [2]:
def simple():
    print("fsjkhfdjkshfkj")

In [3]:
simple()

fsjkhfdjkshfkj

In [4]:
def tambah_ten(x):
    return x + 10

In [5]:
tambah_ten(2)

12

In [6]:
tambah_ten(9)

19

In [10]:
def plusten(x):
    result = x + 10
    return result

In [11]:
plusten(2)

12

In [18]:
#Function within the function
def wage(w_hours):
    return w_hours * 25
def withbonus(w_hours):
    return wage(w_hours) + 50

In [19]:
wage(8),withbonus(8)

(200, 250)

In [21]:
#Conditional Statements & Function
def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        print ("Save More, Man!")

In [23]:
add_10(900)

910

In [33]:
#Function containing with arguments
def substract(a,b,c):
    result = a - b * c
    print("A itu",a)
    print("B itu",b)
    print("C itu",c)
    return result

In [34]:
substract(9,2,3)

A itu 9
B itu 2
C itu 3

3

In [35]:
round(3.987,2)

3.99

In [36]:
len("fdjhgbdjfhb")

11

In [37]:
list = [1,2,3,4]

In [38]:
sum(list)

10

In [39]:
pow(3,3)

27